
  body {
    font-family: sans-serif;
    font-weight: 400;
    color: #777;
    padding: 30px;
  }

  .header {
    height: 85vh;
    max-width: 100%;
    background: url("/image/background.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .container {
    height: 95vh;
    max-width: 100%;
    background: url("/image/backdoor.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 54%, 100% 28%, 100% 100%, 0 100%);
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
    color: rgb(133, 114, 114);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

  }
